::-webkit-scrollbar {
	width: 11px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 50px;
	border: 2px solid transparent;
	background-clip: content-box;
}
@font-face {
	font-family: sans;
	src: url(sans.ttf) format("truetype");
	font-display: swap;
}
body,
html {
	min-height: 100%;
	height: 100%;
	margin: 0;
	font-family: sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.header {
	display: flex;
	justify-content: center;
	margin: 0.5rem 0.2rem;
	box-shadow: 0 4px 1px 0 rgb(51 51 51 / 10%);
	padding-bottom: 0.5rem;
}
.header .iconHolder {
	min-width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto 3rem;
}
.header .heading {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}
.header .plusIcon {
	color: #0097e6;
}
.header .refreshIcon {
	color: #ffc312;
}
.listContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	margin: 0.5rem;
}
.listItem {
	display: flex;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	border: 0;
	margin: 0.5rem 1rem;
	border-radius: 0.5rem;
}
.listItem .iconHolder {
	min-width: 1.5rem;
	margin: 0.2rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.listItem .iconHolder.tickIcon {
	color: #44bd32;
}
.listItem .iconHolder.delIcon {
	color: #ea2027;
}
.listItem .listItemContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 1.3rem;
}
.done {
	background-color: #ffaf4080;
}
.justifyContent {
	justify-content: flex-start;
}
